<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="site" content="DAC-AWS-PROD-PUBLIC"/>
        <meta name="version" content="9.17.00.00.1356"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="text/javascript" src="/DAC/javascript/eventUtils.js"></script>
		<script src="/DAC/javascript/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/DAC/javascript/placeFocus.js"></script>
        
        <script type="text/javascript" src="/DAC/javascript/cc/defaultLoad.js"></script>
        <script type="text/javascript" src="/DAC/javascript/titlePage.js"></script>
        <link rel="stylesheet" href="/DAC/css/hs_styles.css"/>
	   <link rel="stylesheet" href="/DAC/css/hs_styles.css"/>
<link href="/DAC/css/font-awesome.min.css" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="/DAC/Bootstrap-3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/DAC/Bootstrap-3.3.7/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="/DAC/DataTables-1.10.13/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/DAC/Responsive-2.1.0/css/responsive.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/DAC/css/responsive-tab.css"/> 
<link rel="stylesheet" type="text/css" href="/DAC/css/legacy-msg-styles.css"/>
<link rel="stylesheet" type="text/css" href="/DAC/css/iac-rwd.css"/>
<link rel="stylesheet" type="text/css" href="/DAC/css/iac-rwd-forms.css"/>
<link rel="stylesheet" type="text/css" href="/DAC/css/rwdButtons.css"/>		

<script type="text/javascript" src="/DAC/DataTables-1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/DAC/DataTables-1.10.13/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/DAC/Responsive-2.1.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="/DAC/Responsive-2.1.0/js/responsive.bootstrap.min.js"></script>


		
		<title>Disaster Assistance Center&nbsp;-&nbsp;Invalid Session</title>
        <meta http-equiv="Content-Type" content="text/html;charset=windows-1252"/>
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW, NOARCHIVE"/>
        <meta name="keywords" content="Disaster Assistance"/>
        <meta name="description" content="Disaster Assistance"/>
        <meta name="language" content="en,es"/>
    
    
    

        <script type="text/javascript">
			
        </script>
        
        <script type="text/javascript">
          document.oncontextmenu = new Function("return false")
        </script>
        <script type="text/javascript">
<!--
window.history.forward(1);
//-->
</script>
        
        


					<script async type="text/javascript" id="_fed_an_ua_tag" src=" https://dap.digitalgov.gov/UniversalFederatedAnalyticsMin.js?agency=DHS&subagency=FEMA"></script>

					<script type="text/javascript" src="/DAC/javascript/googleAnalyticsTrackingCode.js"></script>

					<script type="text/javascript" src="/DAC/javascript/googleAnalyticsEvents.js"></script>

        <script type="text/javascript" src="/DAC/javascript/disableAutoComplete.js"></script>
    </head>
    <body  onload="if (window.bodyLoad) bodyLoad();" >
    
        <noscript>This application requires JavaScript.Please turn on scripting in your browser to proceed. </noscript>
        <div class="skipnav">
            <a href="#pageContent">skip to main content</a>
        </div>
        <div class="skipnav">
            <a href="#MainMenu">skip to main menu</a>
        </div>
	




<div class="navbar-row">
<div class="container" >
<div class="row">
<nav class="navbar navbar-default" role="navigation" id="MainMenu">
   <div class="container-fluid" style="border: 0px;">
    
    <div id="navbarToggle" class="navbar-header">
	

<img src='/DAC/images/dalogo_no_tag.png' class="logo" alt='Disaster Assistance - Access to Disaster Help and Resources'>


	</div>
    
	</div>
</nav>         
</div>
</div>
</div>
	









 











 



<div class="row-title-container">
<div class="container"> 
	
	<div class="row row-title">
		<div class="col-sm-8 col-xs-12 hidden-xxs hidden-xs">
			<h3 id="pageCaptionText" style="margin: 5px;">Invalid Session</h3>
			
		</div> 
		<div class="col col-sm-4 col-xs-12">
		</div>
	</div>
 

	<div class="row row-title visible-xxs-block visible-xs-block" style="padding-left: 10px"  >
		<h3 style="text-align: left; margin-top: 5px; ">Invalid Session</h3>
		
	</div> 
</div>
</div>



<div class="container" style="min-height: calc(30vw); position: relative;" id="pageContent">
	
	



 
 
 <div class="row row-content">
	<h3><span class="glyphicon glyphicon-warning-sign" style="color: #EED202;" aria-hidden="true"></span>&nbsp;Invalid Session</h3>
</div>
<div class="row row-content">
	<p>Your session is no longer valid.</p><p>You may need to start over if you have NOT received the page with your Referrals. If you have received this page, your application will be saved to the FEMA system. There is no need to apply for assistance again.</p><p>You may call the FEMA Helpline at 1-800-621-3362 to check the status of your registration.</p>


<p>If you use a video relay service, captioned phone, or other communication service, give FEMA the number for that service.</p>
</div>
<div class="row row-content" style="margin: 15px">
	
	<div class="col-xs-6 text-center" >
		<button type="submit" name= "home" onmouseover="this.className='gbButtonLargeActive'" onmouseout="this.className='gbButtonLarge'" onfocus="this.className='gbButtonLargeActive'" onblur="this.className='gbButtonLarge'"  value="Home"  style="width:140px"  class="gbButtonLarge" onclick="window.location='/DAC/logout.do';" >Home</button>
	</div>
</div>

	
	
	<script src="/DAC/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script src="/DAC/javascript/responsive-tab.js"></script>
         
	



<script type="text/javascript" src="/DAC/javascript/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="/DAC/javascript/timeout-dialog.js"></script>
<link rel="stylesheet" href="/DAC/css/timeout-dialog.css" type="text/css"/>	
<script type="text/javascript">
	var options = {'timeout' : 1260,
		'countdown' : 60,
		'title' : 'Your session is about to expire!',
		'message' : 'You will be logged out in {0} seconds.',
		'question': 'Do you want to stay signed in?',
		'keep_alive_button_text': 'Yes, keep me signed in',
		'sign_out_button_text': 'No, Sign me out',
		'restart_on_yes' : true,
		'logout_redirect_url' : '/DAC/logout.do' ,
		'keep_alive_url': '/DAC/timeout.jsp?keepAlive&'};
	$.timeoutDialog(options);
</script>



<div class="row row-content">
<br>
</div>
<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>
<div class="row row-content" style="height: 75px;">
<br>
</div>






 
<div class="row row-footer text-center">
	Version:&nbsp;9.17.00.00.1356
	
	<span class="hidden-xxxs hidden-xxs">
	&nbsp;|&nbsp;
	Server:&nbsp;DAC-AWS-PROD-PUBLIC
	</span>
	        
</div>

</div>



<script type="text/javascript" src="/DAC/javascript/modalSupportRWD.js"></script>
<div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button  id="modalCloseX" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color:white" aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="infoModalLabel"></h4>
      </div>
      <div class="modal-body" id="modal-body">
        <img id="infoModalBusy" src="/DAC/images/busy-circle.gif" alt="busy animation"/>
      </div>
      <div id="closeButtonOnly" class="modal-footer text-center" style="display:none;">
        <button type="button" class="gbButton" data-dismiss="modal">Close</button>
      </div>
      <div id="closeSubmitButton" class="modal-footer text-center">
        <div class="col-md-6 text-center">
          <button id="modalSubmitButton" type="button" class="gbButton" onClick="executeModalSubmitButton();">Submit</button>
        </div>
        <div class="col-md-6 text-center">
          <button type="button" class="gbButton" data-dismiss="modal">Close</button>
        </div>
      </div>
      <a href="#modalCloseX" onfocus="resetModalFocus(event);"></a>
    </div>
  </div>
</div>

<script>
// This collapses the navbar when a navbar link is clicked+
// Reorganize to support script file
$('.navbar-collapse a').click(function(){
    $(".navbar-collapse").collapse('hide');
});

$(document).ready(function(){

$(function(){
 
    $(document).on( 'scroll', function(){
 
    	if ($(window).scrollTop() > 100) {
			$('.scroll-top-wrapper').addClass('show');
		} else {
			$('.scroll-top-wrapper').removeClass('show');
		}
	});
 
	$('.scroll-top-wrapper').on('click', scrollToTop);
});
 
function scrollToTop() {
	verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
	element = $('body');
	offset = element.offset();
	offsetTop = offset.top;
	$('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
}

});


</script>

</body>
</html>
